// Variables
$background: #232323;
$text-color: white;
$link-color: #ff4747;
$link-hover-color: #e92a2a;
$link-disabled-color: #7a1313;
$nav-background: #454545;
$hero-background: #c52b2b;

$font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

body {
    margin: 0px;
    background: $background;
    font-family: $font-family;
    color: $text-color;
}

main {
    margin: 2rem;
}

a, a:visited {
    color: $link-color;
    transition: all 200ms ease;
}

a:hover, a:focus {
    color: $link-hover-color;
}

header {
    background: $nav-background;
    width: 100%;

    display: flex;
    flex-grow: 1;
    align-content: center;
}

header .header-item {
    margin: 0rem 0.5rem;
}

.header-item {
    display: flex;
    vertical-align: middle;
}

.header-item a {
    display: inline-flex;
    align-self: center;

    color: $text-color !important;
    font-weight: bold;
}

.header-item a:hover, .header-item a:focus {
    background: $background;
    padding: 1.07rem;
}

header img {
    height: 56px;
    margin: 0rem 0.5rem;
}

footer {
    background: $nav-background;
    color: $text-color;
    width: 100%;
    padding: 1px 0rem;
    
    position: absolute;
    bottom: 0;
}

footer p {
    margin: 2rem;
}

.hero {
    background: $hero-background;
    color: $text-color;

    width: 100%;
    padding: 1rem 0rem;
}

.hero-body {
    margin: 2rem;
}

ul li:not(:last-child) {
    margin-bottom: 1rem;
}

button {
    background: $link-color;
    font-family: $font-family;
    font-size: 16px;

    border: none;
    padding: 0.75rem;
    border-radius: 0.5rem;

    cursor: pointer;
    transition: all 200ms ease;
    color: $text-color;
}

button:hover, button:active {
    background: $link-hover-color;
}

button:disabled {
    background: $link-disabled-color;
}

input {
    background: $nav-background;
    border-radius: 4943924383489px;
    border: none;
    transition: all 75ms ease;

    padding: 10px;
    min-width: 300px;
}

input:focus, input:active {
    border: 3px solid $link-color;
}