<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../../Partials/head.ejs %>
</head>
<body>
    <% include ../../Partials/nav.ejs %>

    <div class="hero">
        <div class="hero-body">
            <h1>Error 403</h1>
            <p>You don't have permission to view this file or page.</p>
        </div>
    </div>

    <main>
        <h2>How do I fix this?</h2>
        <ul>
            <li>Contact the sysadmin to give you permission to access this file or page.</li>
        </ul>

        <a href="/">
            <button>
                <i class="fas fa-home fa-fw"></i> Go home
            </button>
        </a>
    </main>

    <% include ../../Partials/footer.ejs %>
</body>
</html>