<script src="/js/jquery-3.3.1.slim.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>

<footer>
    <p class="text-center">&copy; 2019 Michael Webb and <a href="https://github.com/TheRandomMelon/FOSSTicket">collaborators</a>.</p>
</footer>