<header>
	<img src="/img/logo.png">

	<div class="header-item">
		<a href="#">Home</a>
	</div>
	<div class="header-item">
		<a href="#">Submit a ticket</a>
	</div>
	<div class="header-item">
		<a href="#">Knowledge base</a>
	</div>
</header>