<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<a class="navbar-brand" href="#">FOSSTicket</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
	  	<span class="navbar-toggler-icon"></span>
	</button>
  
	<div class="collapse navbar-collapse" id="navbarColor03">
	  	<ul class="navbar-nav mr-auto">
			<li class="nav-item active">
		  		<a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
			</li>
			<li class="nav-item">
		  		<a class="nav-link" href="#">Submit a ticket</a>
			</li>
	  	</ul>
	  	<form class="form-inline my-2 my-lg-0">
			<input class="form-control mr-sm-2" type="text" placeholder="Search knowledge base">
			<button class="btn btn-secondary my-2 my-sm-0" type="submit">
				<i class="fas fa-search"></i>
			</button>
	  	</form>
	</div>
</nav>