<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../Partials/head.ejs %>
</head>
<body>
    <% include ../Partials/nav.ejs %>

    <div class="hero">
        <div class="hero-body">
            <h1>Aren't other open-source ticketing systems crappy?</h1>
            <p>We're changing that with FOSSTicket.</p>
        </div>
    </div>

    <main>
        <h2>Our UI is simple and responsive.</h2>
        <p>No need to go through 100 different menus on your old open source ticketing system. We keep it simple.</p>
        
        <h2>If you thought that was crazy...</h2>
        <p>...we also have CRAZY customization, since we're open source.</p>

        <h2>Give us a try, you won't regret it.</h2>
        <p>Available now on <a href="https://github.com/TheRandomMelon/FOSSTicket">GitHub!</a></p>
    </main>
    
    <% include ../Partials/footer.ejs %>
</body>
</html>