<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../Partials/head.ejs %>
</head>
<body>
    <% include ../Partials/setuphead.ejs %>
    <div class="hero">
        <div class="hero-body">
            <h1 id="stepListing">Welcome to the quick FOSSTicket setup!</h1>
            <p id="stepDesc">Set up your own admin account to continue.</p>
        </div>
    </div>

    <main id="step0">
        <form action="/" method="POST">
            <input type="text" name="fullname" placeholder="Your full name" minlength="1"><br><br>
            <input type="text" name="username" placeholder="Username" minlength="1"><br><br>
            <input type="password" name="password" placeholder="Password" minlength="8"><br><br>
            <input type="email" name="email" placeholder="Email address" minlength="1"><br><br>

            <input type="submit" value="Sign up">
        </form>
    </main>

    <% include ../Partials/footer.ejs %>
</body>
</html>