<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../Partials/head.ejs %>
</head>
<body>
    <% include ../Partials/nav.ejs %>

    <div class="hero">
        <div class="hero-body">
            <h1>Signed out successfully!</h1>
            <p>Thanks for visiting! We hope to see you again soon.</p>
        </div>
    </div>

    <main>
        <a href="/">
            <button>
                <i class="fas fa-home fa-fw"></i> Go home
            </button>
        </a>
    </main>
    
    <% include ../Partials/footer.ejs %>
</body>
</html>