<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>
    <% include ../partials/nav %>

    <div class="hero">
        <div class="hero-body">
            <h1>Dashboard</h1>
            <p>E</p>
        </div>
    </div>

    <main>
        <h2>Our UI is coded in E.</h2>
        <p>No need to E.</p>
    </main>

    
    <% include ../partials/footer %>
</body>
</html>