<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>
    <% include ../partials/nav %>

    <div class="hero">
        <div class="hero-body">
            <h1>Testing this Express and EJS stuff out</h1>
            <p>Gamers, it's time for an epic FOSS support/ticketing system.</p>
        </div>
    </div>

    <main>
        <h2>Amazing point about why to use this thing</h2>
        <p>Isn't that cool?</p>
        
        <h2>If you thought that was crazy...</h2>
        <p>...then read this: then don't expose your IP. It's not hard.</p>

        <h2>Cosmic_Web_Services</h2>
        <p>2 results on Shodan eh?</p>
    </main>

    
    <% include ../partials/footer %>
</body>
</html>