<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>
    <% include ../partials/nav %>

    <main>
        <div class="jumbotron">
            <h1>Testing this Express and EJS stuff out</h1>
            <p>Gamers, it's time for an epic FOSS support/ticketing system.</p>
        </div>
    </main>

    
    <% include ../partials/footer %>
</body>
</html>