<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>
    <div class="hero">
        <div class="hero-body">
            <h1 id="stepListing">Welcome to the quick FOSSTicket setup!</h1>
            <p id="stepDesc">Set up your own admin account to continue.</p>
        </div>
    </div>

    <main id="step0">
        <form action="/" method="POST">
            <input type="text" placeholder="Your full name"><br><br>
            <input type="text" placeholder="Username"><br><br>
            <input type="pass" placeholder="Password"><br><br>
            <input type="pass" placeholder="Email address"><br><br>

            <input type="submit" value="Sign up">
        </form>
    </main>

    <% include ../partials/footer %>
</body>
</html>