<header>
	<img src="/img/logo.png">

	<div class="header-item">
		<a href="#">
			<i class="fas fa-fw fa-home"></i> Home
		</a>
	</div>
	<div class="header-item">
		<a href="#">
			<i class="fas fa-fw fa-ticket-alt"></i> Submit a ticket
		</a>
	</div>
	<div class="header-item">
		<a href="#">
			<i class="fas fa-fw fa-book"></i> Knowledge base
		</a>
	</div>
	<div class="header-item right">
		<a href="/login">
			<i class="fas fa-fw fa-sign-in-alt"></i> Log in
		</a>
	</div>
</header>