<header>
	<img src="/img/logo.png">

	<div class="header-item">
		<a href="/">
			<i class="fas fa-fw fa-home"></i> Home
		</a>
	</div>
	<div class="header-item">
		<a href="#">
			<i class="fas fa-fw fa-ticket-alt"></i> Submit a ticket
		</a>
	</div>
	<div class="header-item">
		<a href="#">
			<i class="fas fa-fw fa-book"></i> Knowledge base
		</a>
	</div>
	
	<div class="header-item right">
		<% if (user !== null) { %>
			<div class="dropdown right">
				<a class="dropdown-button">
					<i class="fas fa-user-circle"></i> <%= user.dataValues.username %>
				</a>
				
				<div class="dropdown-content">
					<a href="/dashboard"><i class="fas fa-fw fa-tachometer-alt"></i> Dashboard</a>
					<a href="/signout"><i class="fas fa-fw fa-sign-out-alt"></i> Sign out</a>
				</div>
			</div>
		<% } else { %>
			<a href="/login">
				<i class="fas fa-fw fa-sign-in-alt"></i> Log in
			</a>
		<% } %>
	</div>
</header>